<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_job="org.somox.ejbmox.inspectit2pcm.jobs.AnnotatePCMWithInspectITResults"
            workflow_id="post_save_models">
      </workflow_job>
   </extension>

</plugin>
